# cp restic.timer /etc/systemd/system
# cp restic.service /etc/systemd/system
# systemctl daemon-reload
# systemctl enable restic.timer
# systemctl start restic.timer
# systemctl status restic.timer
# systemctl list-timers
# systemd-analyze verify restic.timer
# journalctl -u restic.timer
# timedatectl list-timezones
# timedatectl set-timezone Europe/Brussels
# loginctl enable-linger
# ~/.config/systemd/user

[Unit]
Description=Backup

[Timer]
OnCalendar=*-*-* 02:00:00 Europe/Brussels
# OnBootSec=1min
# OnUnitActiveSec=5min
# Persistent=true

[Install]
WantedBy=timers.target

