[Unit]
Description=Restic
Documentation=https://restic.readthedocs.io
After=network.target

[Service]
User=gert
Group=gert
Type=oneshot
WorkingDirectory=/home/gert
LoadCredential=restic:/etc/restic
ExecStart=/bin/zsh -c 'set -a; source "${CREDENTIALS_DIRECTORY}/restic"; set +a; exec /home/gert/restic.sh'
StandardOutput=journal
StandardError=journal

