[Unit]
Description=Restic
Documentation=https://restic.readthedocs.io
After=network.target

[Service]
User=root
Group=root
Type=oneshot
WorkingDirectory=/root
ExecStart=/root/system/restic.sh
StandardOutput=journal
StandardError=journal

# LoadCredential=env:/root/.zshenv
# ExecStart=/bin/zsh -c 'set -a; source "${CREDENTIALS_DIRECTORY}/env"; set +a; exec /home/gert/restic.sh'

