# /etc/systemd/network/10-eth0.network

[Match]
Name=eth0

[Network]
IPv6AcceptRA=yes
# Address=2001:.../64
# Gateway=fe80::...

IPv6SendRA=no
DHCPServer=no 
DHCPv6PrefixDelegation=yes

[DHCPv6]
# WithoutRA=solicit
RequestAddress=yes
PrefixDelegation=yes

[IPv6SendRA]
# DHCPv6 yes / SLAAC no
Managed=yes
OtherInformation=yes

[DHCPServer]
DNS=2001:...

# systemctl restart systemd-networkd
# sysctl -w net.ipv6.conf.all.accept_ra=2
# sysctl -w net.ipv6.conf.default.accept_ra=2
# ip -6 route show
# ip -6 route show default
# ip -6 link set dev eth0 up
# ip -6 addr add 2001:.../64 dev eth0
# ping6 -c 4 2001:4860:4860::8888
