# cp webauthn.service /etc/systemd/system
# systemctl daemon-reload
# systemctl enable webauthn.service
# systemctl start webauthn.service
# systemctl status webauthn.service
# systemd-analyze verify webauthn.service
# journalctl -u webauthn.service

[Unit]
Description=WebAuthn
Documentation=https://webauthn.io
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/root/webauthn
ExecStart=/usr/local/bin/uv run uvicorn main:app --host 127.0.0.1 --port 8000
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target

